In [1]:
import pandas as pd
import numpy as np

In [2]:
data1 = pd.read_csv("C:/Users/chapa/Desktop/ted_main.csv")

In [3]:
data2 = pd.read_csv("C:/Users/chapa/Desktop/transcripts.csv")

In [4]:
data1

,comments,description,duration,event,film_date,languages,main_speaker,name,num_speaker,published_date,ratings,related_talks,speaker_occupation,tags,title,url,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,1140825600,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...","[{'id': 865, 'hero': 'https://pe.tedcdn.com/im...",Author/educator,"['children', 'creativity', 'culture', 'dance',...",Do schools kill creativity?,https://www.ted.com/talks/ken_robinson_says_sc...,47227110
1,265,With the same humor and humanity he exuded in ...,977,TED2006,1140825600,43,Al Gore,Al Gore: Averting the climate crisis,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 544}, {'i...","[{'id': 243, 'hero': 'https://pe.tedcdn.com/im...",Climate advocate,"['alternative energy', 'cars', 'climate change...",Averting the climate crisis,https://www.ted.com/talks/al_gore_on_averting_...,3200520
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,1140739200,26,David Pogue,David Pogue: Simplicity sells,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 964}, {'i...","[{'id': 1725, 'hero': 'https://pe.tedcdn.com/i...",Technology columnist,"['computers', 'entertainment', 'interface desi...",Simplicity sells,https://www.ted.com/talks/david_pogue_says_sim...,1636292
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,1140912000,35,Majora Carter,Majora Carter: Greening the ghetto,1,1151367060,"[{'id': 3, 'name': 'Courageous', 'count': 760}...","[{'id': 1041, 'hero': 'https://pe.tedcdn.com/i...",Activist for environmental justice,"['MacArthur grant', 'activism', 'business', 'c...",Greening the ghetto,https://www.ted.com/talks/majora_carter_s_tale...,1697550
4,593,You've never seen data presented like this. Wi...,1190,TED2006,1140566400,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,1,1151440680,"[{'id': 9, 'name': 'Ingenious', 'count': 3202}...","[{'id': 2056, 'hero': 'https://pe.tedcdn.com/i...",Global health expert; data visionary,"['Africa', 'Asia', 'Google', 'demo', 'economic...",The best stats you've ever seen,https://www.ted.com/talks/hans_rosling_shows_t...,12005869
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2545,17,"Between 2008 and 2016, the United States depor...",476,TED2017,1496707200,4,Duarte Geraldino,Duarte Geraldino: What we're missing in the de...,1,1505851216,"[{'id': 3, 'name': 'Courageous', 'count': 24},...","[{'id': 2596, 'hero': 'https://pe.tedcdn.com/i...",Journalist,"['TED Residency', 'United States', 'community'...",What we're missing in the debate about immigra...,https://www.ted.com/talks/duarte_geraldino_wha...,450430
2546,6,How can you study Mars without a spaceship? He...,290,TED2017,1492992000,3,Armando Azua-Bustos,Armando Azua-Bustos: The most Martian place on...,1,1505919737,"[{'id': 22, 'name': 'Fascinating', 'count': 32...","[{'id': 2491, 'hero': 'https://pe.tedcdn.com/i...",Astrobiologist,"['Mars', 'South America', 'TED Fellows', 'astr...",The most Martian place on Earth,https://www.ted.com/talks/armando_azua_bustos_...,417470
2547,10,Science fiction visions of the future show us ...,651,TED2017,1492992000,1,Radhika Nagpal,Radhika Nagpal: What intelligent machines can ...,1,1506006095,"[{'id': 1, 'name': 'Beautiful', 'count': 14}, ...","[{'id': 2346, 'hero': 'https://pe.tedcdn.com/i...",Robotics engineer,"['AI', 'ants', 'fish', 'future', 'innovation',...",What intelligent machines can learn from a sch...,https://www.ted.com/talks/radhika_nagpal_what_...,375647
2548,32,In an unmissable talk about race and politics ...,1100,TEDxMileHigh,1499472000,1,Theo E.J. Wilson,Theo E.J. Wilson: A black man goes undercover ...,1,1506024042,"[{'id': 11, 'name': 'Longwinded', 'count': 3},...","[{'id': 2512, 'hero': 'https://pe.tedcdn.com/i...",Public intellectual,"['Internet', 'TEDx', 'United States', 'communi...",A black man goes undercover in the alt-right,https://www.ted.com/talks/theo_e_j_wilson_a_bl...,419309
2549,8,With more than half of the world population li...,519,TED2017,1492992000,1,Karoliina Korppoo,Karoliina Korppoo: How a video game might help...,1,1506092422,"[{'id': 21, 'name': 'Unconvincing', 'count': 2...","[{'id': 2682, 'hero': 'https://pe.tedcdn.com/i...",Game designer,"['cities', 'design', 'future', 'infrastructure...",How a video game might help us build better ci...,https://www.ted.com/talks/karoliina_korppoo_ho...,391721

In [5]:
data1.columns

Index(['comments', 'description', 'duration', 'event', 'film_date',
       'languages', 'main_speaker', 'name', 'num_speaker', 'published_date',
       'ratings', 'related_talks', 'speaker_occupation', 'tags', 'title',
       'url', 'views'],
      dtype='object')

In [6]:
data2.columns

Index(['transcript', 'url'], dtype='object')

In [7]:
data1['film_date']

0       1140825600
1       1140825600
2       1140739200
3       1140912000
4       1140566400
           ...
2545    1496707200
2546    1492992000
2547    1492992000
2548    1499472000
2549    1492992000
Name: film_date, Length: 2550, dtype: int64

In [8]:

data1['film_date'] = pd.to_datetime(data1['film_date'], unit='s')

data1['year'] = data1['film_date'].dt.year
data1['month'] = data1['film_date'].dt.month
data1['day_of_month'] = data1['film_date'].dt.day
data1['day_of_week'] = data1['film_date'].dt.dayofweek  # Monday=0, Sunday=6
data1['hour'] = data1['film_date'].dt.hour
data1['minute'] = data1['film_date'].dt.minute
data1['second'] = data1['film_date'].dt.second

print(data1)

      comments                                        description  duration  \
0         4553  Sir Ken Robinson makes an entertaining and pro...      1164
1          265  With the same humor and humanity he exuded in ...       977
2          124  New York Times columnist David Pogue takes aim...      1286
3          200  In an emotionally charged talk, MacArthur-winn...      1116
4          593  You've never seen data presented like this. Wi...      1190
...        ...                                                ...       ...
2545        17  Between 2008 and 2016, the United States depor...       476
2546         6  How can you study Mars without a spaceship? He...       290
2547        10  Science fiction visions of the future show us ...       651
2548        32  In an unmissable talk about race and politics ...      1100
2549         8  With more than half of the world population li...       519

             event  film_date  languages         main_speaker  \
0          TED2006 2006-02-25         60         Ken Robinson
1          TED2006 2006-02-25         43              Al Gore
2          TED2006 2006-02-24         26          David Pogue
3          TED2006 2006-02-26         35        Majora Carter
4          TED2006 2006-02-22         48         Hans Rosling
...            ...        ...        ...                  ...
2545       TED2017 2017-06-06          4     Duarte Geraldino
2546       TED2017 2017-04-24          3  Armando Azua-Bustos
2547       TED2017 2017-04-24          1       Radhika Nagpal
2548  TEDxMileHigh 2017-07-08          1     Theo E.J. Wilson
2549       TED2017 2017-04-24          1    Karoliina Korppoo

                                                   name  num_speaker  \
0             Ken Robinson: Do schools kill creativity?            1
1                  Al Gore: Averting the climate crisis            1
2                         David Pogue: Simplicity sells            1
3                    Majora Carter: Greening the ghetto            1
4         Hans Rosling: The best stats you've ever seen            1
...                                                 ...          ...
2545  Duarte Geraldino: What we're missing in the de...            1
2546  Armando Azua-Bustos: The most Martian place on...            1
2547  Radhika Nagpal: What intelligent machines can ...            1
2548  Theo E.J. Wilson: A black man goes undercover ...            1
2549  Karoliina Korppoo: How a video game might help...            1

      published_date  ...                                              title  \
0         1151367060  ...                        Do schools kill creativity?
1         1151367060  ...                        Averting the climate crisis
2         1151367060  ...                                   Simplicity sells
3         1151367060  ...                                Greening the ghetto
4         1151440680  ...                    The best stats you've ever seen
...              ...  ...                                                ...
2545      1505851216  ...  What we're missing in the debate about immigra...
2546      1505919737  ...                    The most Martian place on Earth
2547      1506006095  ...  What intelligent machines can learn from a sch...
2548      1506024042  ...       A black man goes undercover in the alt-right
2549      1506092422  ...  How a video game might help us build better ci...

                                                    url     views  year month  \
0     https://www.ted.com/talks/ken_robinson_says_sc...  47227110  2006     2
1     https://www.ted.com/talks/al_gore_on_averting_...   3200520  2006     2
2     https://www.ted.com/talks/david_pogue_says_sim...   1636292  2006     2
3     https://www.ted.com/talks/majora_carter_s_tale...   1697550  2006     2
4     https://www.ted.com/talks/hans_rosling_shows_t...  12005869  2006     2
...                                                 ...       ...   ...   ...
2545  https://www.ted.com/talks/duarte_geraldino_wha...    450430  2017     6
2546  https://www.ted.com/talks/armando_azua_bustos_...    417470  2017     4
2547  https://www.ted.com/talks/radhika_nagpal_what_...    375647  2017     4
2548  https://www.ted.com/talks/theo_e_j_wilson_a_bl...    419309  2017     7
2549  https://www.ted.com/talks/karoliina_korppoo_ho...    391721  2017     4

     day_of_month  day_of_week  hour  minute  second
0              25            5     0       0       0
1              25            5     0       0       0
2              24            4     0       0       0
3              26            6     0       0       0
4              22            2     0       0       0
...           ...          ...   ...     ...     ...
2545            6            1     0       0       0
2546           24            0     0       0       0
2547           24            0     0       0       0
2548            8            5     0       0       0
2549           24            0     0       0       0

[2550 rows x 24 columns]

In [9]:
data1.rename(columns={
    'year': 'film_date.year',
    'month': 'film_date.month',
    'day_of_month': 'film_date.day_of_month',
    'day_of_week': 'film_date.day_of_week',
    'hour': 'film_date.hour',
    'minute': 'film_date.minute',
    'second': 'film_date.second'
}, inplace=True)

In [10]:
data1

,comments,description,duration,event,film_date,languages,main_speaker,name,num_speaker,published_date,...,title,url,views,film_date.year,film_date.month,film_date.day_of_month,film_date.day_of_week,film_date.hour,film_date.minute,film_date.second
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,2006-02-25,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,1,1151367060,...,Do schools kill creativity?,https://www.ted.com/talks/ken_robinson_says_sc...,47227110,2006,2,25,5,0,0,0
1,265,With the same humor and humanity he exuded in ...,977,TED2006,2006-02-25,43,Al Gore,Al Gore: Averting the climate crisis,1,1151367060,...,Averting the climate crisis,https://www.ted.com/talks/al_gore_on_averting_...,3200520,2006,2,25,5,0,0,0
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,2006-02-24,26,David Pogue,David Pogue: Simplicity sells,1,1151367060,...,Simplicity sells,https://www.ted.com/talks/david_pogue_says_sim...,1636292,2006,2,24,4,0,0,0
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,2006-02-26,35,Majora Carter,Majora Carter: Greening the ghetto,1,1151367060,...,Greening the ghetto,https://www.ted.com/talks/majora_carter_s_tale...,1697550,2006,2,26,6,0,0,0
4,593,You've never seen data presented like this. Wi...,1190,TED2006,2006-02-22,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,1,1151440680,...,The best stats you've ever seen,https://www.ted.com/talks/hans_rosling_shows_t...,12005869,2006,2,22,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2545,17,"Between 2008 and 2016, the United States depor...",476,TED2017,2017-06-06,4,Duarte Geraldino,Duarte Geraldino: What we're missing in the de...,1,1505851216,...,What we're missing in the debate about immigra...,https://www.ted.com/talks/duarte_geraldino_wha...,450430,2017,6,6,1,0,0,0
2546,6,How can you study Mars without a spaceship? He...,290,TED2017,2017-04-24,3,Armando Azua-Bustos,Armando Azua-Bustos: The most Martian place on...,1,1505919737,...,The most Martian place on Earth,https://www.ted.com/talks/armando_azua_bustos_...,417470,2017,4,24,0,0,0,0
2547,10,Science fiction visions of the future show us ...,651,TED2017,2017-04-24,1,Radhika Nagpal,Radhika Nagpal: What intelligent machines can ...,1,1506006095,...,What intelligent machines can learn from a sch...,https://www.ted.com/talks/radhika_nagpal_what_...,375647,2017,4,24,0,0,0,0
2548,32,In an unmissable talk about race and politics ...,1100,TEDxMileHigh,2017-07-08,1,Theo E.J. Wilson,Theo E.J. Wilson: A black man goes undercover ...,1,1506024042,...,A black man goes undercover in the alt-right,https://www.ted.com/talks/theo_e_j_wilson_a_bl...,419309,2017,7,8,5,0,0,0
2549,8,With more than half of the world population li...,519,TED2017,2017-04-24,1,Karoliina Korppoo,Karoliina Korppoo: How a video game might help...,1,1506092422,...,How a video game might help us build better ci...,https://www.ted.com/talks/karoliina_korppoo_ho...,391721,2017,4,24,0,0,0,0

In [11]:
data1.columns

Index(['comments', 'description', 'duration', 'event', 'film_date',
       'languages', 'main_speaker', 'name', 'num_speaker', 'published_date',
       'ratings', 'related_talks', 'speaker_occupation', 'tags', 'title',
       'url', 'views', 'film_date.year', 'film_date.month',
       'film_date.day_of_month', 'film_date.day_of_week', 'film_date.hour',
       'film_date.minute', 'film_date.second'],
      dtype='object')

In [12]:

data1['published_date'] = pd.to_datetime(data1['published_date'], unit='s')
data1['year'] = data1['published_date'].dt.year
data1['month'] = data1['published_date'].dt.month
data1['day_of_month'] = data1['published_date'].dt.day
data1['day_of_week'] = data1['published_date'].dt.dayofweek  # Monday=0, Sunday=6
data1['hour'] = data1['published_date'].dt.hour
data1['minute'] = data1['published_date'].dt.minute
data1['second'] = data1['published_date'].dt.second

In [13]:
data1.rename(columns={
    'year': 'published_date.year',
    'month': 'published_date.month',
    'day_of_month': 'published_date.day_of_month',
    'day_of_week': 'published_date.day_of_week',
    'hour': 'published_date.hour',
    'minute': 'published_date.minute',
    'second': 'published_date.second'
}, inplace=True)

In [14]:
data1

,comments,description,duration,event,film_date,languages,main_speaker,name,num_speaker,published_date,...,film_date.hour,film_date.minute,film_date.second,published_date.year,published_date.month,published_date.day_of_month,published_date.day_of_week,published_date.hour,published_date.minute,published_date.second
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,2006-02-25,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,1,2006-06-27 00:11:00,...,0,0,0,2006,6,27,1,0,11,0
1,265,With the same humor and humanity he exuded in ...,977,TED2006,2006-02-25,43,Al Gore,Al Gore: Averting the climate crisis,1,2006-06-27 00:11:00,...,0,0,0,2006,6,27,1,0,11,0
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,2006-02-24,26,David Pogue,David Pogue: Simplicity sells,1,2006-06-27 00:11:00,...,0,0,0,2006,6,27,1,0,11,0
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,2006-02-26,35,Majora Carter,Majora Carter: Greening the ghetto,1,2006-06-27 00:11:00,...,0,0,0,2006,6,27,1,0,11,0
4,593,You've never seen data presented like this. Wi...,1190,TED2006,2006-02-22,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,1,2006-06-27 20:38:00,...,0,0,0,2006,6,27,1,20,38,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2545,17,"Between 2008 and 2016, the United States depor...",476,TED2017,2017-06-06,4,Duarte Geraldino,Duarte Geraldino: What we're missing in the de...,1,2017-09-19 20:00:16,...,0,0,0,2017,9,19,1,20,0,16
2546,6,How can you study Mars without a spaceship? He...,290,TED2017,2017-04-24,3,Armando Azua-Bustos,Armando Azua-Bustos: The most Martian place on...,1,2017-09-20 15:02:17,...,0,0,0,2017,9,20,2,15,2,17
2547,10,Science fiction visions of the future show us ...,651,TED2017,2017-04-24,1,Radhika Nagpal,Radhika Nagpal: What intelligent machines can ...,1,2017-09-21 15:01:35,...,0,0,0,2017,9,21,3,15,1,35
2548,32,In an unmissable talk about race and politics ...,1100,TEDxMileHigh,2017-07-08,1,Theo E.J. Wilson,Theo E.J. Wilson: A black man goes undercover ...,1,2017-09-21 20:00:42,...,0,0,0,2017,9,21,3,20,0,42
2549,8,With more than half of the world population li...,519,TED2017,2017-04-24,1,Karoliina Korppoo,Karoliina Korppoo: How a video game might help...,1,2017-09-22 15:00:22,...,0,0,0,2017,9,22,4,15,0,22

In [15]:
data1.url

0       https://www.ted.com/talks/ken_robinson_says_sc...
1       https://www.ted.com/talks/al_gore_on_averting_...
2       https://www.ted.com/talks/david_pogue_says_sim...
3       https://www.ted.com/talks/majora_carter_s_tale...
4       https://www.ted.com/talks/hans_rosling_shows_t...
                              ...
2545    https://www.ted.com/talks/duarte_geraldino_wha...
2546    https://www.ted.com/talks/armando_azua_bustos_...
2547    https://www.ted.com/talks/radhika_nagpal_what_...
2548    https://www.ted.com/talks/theo_e_j_wilson_a_bl...
2549    https://www.ted.com/talks/karoliina_korppoo_ho...
Name: url, Length: 2550, dtype: object

In [16]:
data2

,transcript,url
0,Good morning. How are you?(Laughter)It's been ...,https://www.ted.com/talks/ken_robinson_says_sc...
1,"Thank you so much, Chris. And it's truly a gre...",https://www.ted.com/talks/al_gore_on_averting_...
2,"(Music: ""The Sound of Silence,"" Simon & Garfun...",https://www.ted.com/talks/david_pogue_says_sim...
3,If you're here today — and I'm very happy that...,https://www.ted.com/talks/majora_carter_s_tale...
4,"About 10 years ago, I took on the task to teac...",https://www.ted.com/talks/hans_rosling_shows_t...
...,...,...
2462,"So, Ma was trying to explain something to me a...",https://www.ted.com/talks/duarte_geraldino_wha...
2463,This is a picture of a sunset on Mars taken by...,https://www.ted.com/talks/armando_azua_bustos_...
2464,"In my early days as a graduate student, I went...",https://www.ted.com/talks/radhika_nagpal_what_...
2465,I took a cell phone and accidentally made myse...,https://www.ted.com/talks/theo_e_j_wilson_a_bl...
2466,"We humans are becoming an urban species, so ci...",https://www.ted.com/talks/karoliina_korppoo_ho...

In [17]:
merged_data = pd.merge(data1, data2[['url', 'transcript']], on='url', how='outer')

In [18]:
merged_data

,comments,description,duration,event,film_date,languages,main_speaker,name,num_speaker,published_date,...,film_date.minute,film_date.second,published_date.year,published_date.month,published_date.day_of_month,published_date.day_of_week,published_date.hour,published_date.minute,published_date.second,transcript
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,2006-02-25,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,1,2006-06-27 00:11:00,...,0,0,2006,6,27,1,0,11,0,Good morning. How are you?(Laughter)It's been ...
1,265,With the same humor and humanity he exuded in ...,977,TED2006,2006-02-25,43,Al Gore,Al Gore: Averting the climate crisis,1,2006-06-27 00:11:00,...,0,0,2006,6,27,1,0,11,0,"Thank you so much, Chris. And it's truly a gre..."
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,2006-02-24,26,David Pogue,David Pogue: Simplicity sells,1,2006-06-27 00:11:00,...,0,0,2006,6,27,1,0,11,0,"(Music: ""The Sound of Silence,"" Simon & Garfun..."
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,2006-02-26,35,Majora Carter,Majora Carter: Greening the ghetto,1,2006-06-27 00:11:00,...,0,0,2006,6,27,1,0,11,0,If you're here today — and I'm very happy that...
4,593,You've never seen data presented like this. Wi...,1190,TED2006,2006-02-22,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,1,2006-06-27 20:38:00,...,0,0,2006,6,27,1,20,38,0,"About 10 years ago, I took on the task to teac..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2548,17,"Between 2008 and 2016, the United States depor...",476,TED2017,2017-06-06,4,Duarte Geraldino,Duarte Geraldino: What we're missing in the de...,1,2017-09-19 20:00:16,...,0,0,2017,9,19,1,20,0,16,"So, Ma was trying to explain something to me a..."
2549,6,How can you study Mars without a spaceship? He...,290,TED2017,2017-04-24,3,Armando Azua-Bustos,Armando Azua-Bustos: The most Martian place on...,1,2017-09-20 15:02:17,...,0,0,2017,9,20,2,15,2,17,This is a picture of a sunset on Mars taken by...
2550,10,Science fiction visions of the future show us ...,651,TED2017,2017-04-24,1,Radhika Nagpal,Radhika Nagpal: What intelligent machines can ...,1,2017-09-21 15:01:35,...,0,0,2017,9,21,3,15,1,35,"In my early days as a graduate student, I went..."
2551,32,In an unmissable talk about race and politics ...,1100,TEDxMileHigh,2017-07-08,1,Theo E.J. Wilson,Theo E.J. Wilson: A black man goes undercover ...,1,2017-09-21 20:00:42,...,0,0,2017,9,21,3,20,0,42,I took a cell phone and accidentally made myse...
2552,8,With more than half of the world population li...,519,TED2017,2017-04-24,1,Karoliina Korppoo,Karoliina Korppoo: How a video game might help...,1,2017-09-22 15:00:22,...,0,0,2017,9,22,4,15,0,22,"We humans are becoming an urban species, so ci..."

In [19]:
merged_data[1100:1120]

,comments,description,duration,event,film_date,languages,main_speaker,name,num_speaker,published_date,...,film_date.minute,film_date.second,published_date.year,published_date.month,published_date.day_of_month,published_date.day_of_week,published_date.hour,published_date.minute,published_date.second,transcript
1100,166,"For a full year, AJ Jacobs followed every piec...",522,TEDMED 2011,2011-10-28,40,AJ Jacobs,AJ Jacobs: How healthy living nearly killed me,1,2012-01-03 15:20:02,...,0,0,2012,1,3,1,15,20,2,I've spent the last decade subjecting myself t...
1101,295,"Within this generation, an extra 30 years have...",680,TEDxWomen 2011,2011-12-07,41,Jane Fonda,Jane Fonda: Life's third act,1,2012-01-04 16:18:58,...,0,0,2012,1,4,2,16,18,58,There have been many revolutions over the last...
1102,270,Paddy Ashdown believes we are living in a mome...,1109,TEDxBrussels,2011-12-28,31,Paddy Ashdown,Paddy Ashdown: The global power shift,1,2012-01-05 16:04:54,...,0,0,2012,1,5,3,16,4,54,There's a poem written by a very famous Englis...
1103,161,Sebastian Wernicke thinks every TED Talk can b...,454,TEDxZurich 2011,2011-11-10,37,Sebastian Wernicke,"Sebastian Wernicke: 1,000 TED Talks in six words",1,2012-01-06 16:30:34,...,0,0,2012,1,6,4,16,30,34,There's currently over a thousand TED Talks on...
1104,70,We don't just need better laws -- we need bett...,632,TEDxTC,2010-10-13,0,Nate Garvis,"Nate Garvis: Change our culture, change our world",1,2012-01-07 16:08:00,...,0,0,2012,1,7,5,16,8,0,NaN
1105,41,How do you measure a nebula? With a brain scan...,581,TEDxBoston 2011,2011-06-28,0,Michelle Borkin,Michelle Borkin: Can astronomers help doctors?,1,2012-01-08 14:54:03,...,0,0,2012,1,8,6,14,54,3,NaN
1106,211,"Like all of us, economist Tyler Cowen loves a ...",957,TEDxMidAtlantic,2009-11-09,11,Tyler Cowen,Tyler Cowen: Be suspicious of simple stories,1,2012-01-09 17:06:44,...,0,0,2012,1,9,0,17,6,44,I was told to come here and tell you all stori...
1107,170,In 2011 three young women swept the top prizes...,976,TEDxWomen 2011,2011-12-08,25,"Lauren Hodge, Shree Bose + Naomi Shah","Lauren Hodge, Shree Bose + Naomi Shah: Award-w...",3,2012-01-10 16:10:16,...,0,0,2012,1,10,1,16,10,16,Lauren Hodge: If you were going to a restauran...
1108,57,"In politics, it seems counterintuitive to enga...",898,TEDxRC2,2011-11-11,28,Jonas Gahr Støre,Jonas Gahr Støre: In defense of dialogue,1,2012-01-11 16:18:23,...,0,0,2012,1,11,2,16,18,23,Amongst all the troubling deficits we struggle...
1109,161,We have no ways to directly observe molecules ...,548,TEDxSydney,2011-05-28,37,Drew Berry,Drew Berry: Animations of unseeable biology,1,2012-01-12 15:51:26,...,0,0,2012,1,12,3,15,51,26,What I'm going to show you are the astonishing...
1110,45,"Inspired by Aung San Suu Kyi's call to action,...",330,TEDxWomen 2011,2011-12-01,36,Morley,"Morley: ""Women of Hope""",1,2012-01-13 16:11:53,...,0,0,2012,1,13,4,16,11,53,(Music)♫ They stood together ♫ ♫ under a tree ...
1111,325,Kirk Sorensen shows us the liquid fuel thorium...,599,TEDxYYC,2011-04-01,0,Kirk Sorensen,"Kirk Sorensen: Thorium, an alternative nuclear...",1,2012-01-14 15:01:40,...,0,0,2012,1,14,5,15,1,40,NaN
1112,43,There are millions of prodigiously gifted musi...,816,TEDxBrussels,2011-11-22,0,Charles Hazlewood + British Paraorchestra,Charles Hazlewood + British Paraorchestra: The...,2,2012-01-15 15:24:49,...,0,0,2012,1,15,6,15,24,49,NaN
1113,145,"After a crisis, how can we tell if water is sa...",217,TEDGlobal 2011,2011-07-14,38,Sonaar Luthra,Sonaar Luthra: Meet the Water Canary,1,2012-01-16 16:33:25,...,0,0,2012,1,16,0,16,33,25,Cholera was reported in Haiti for the first ti...
1114,1328,What aspects of religion should atheists (resp...,1160,TEDGlobal 2011,2011-07-13,42,Alain de Botton,Alain de Botton: Atheism 2.0,1,2012-01-17 15:05:04,...,0,0,2012,1,17,1,15,5,4,One of the most common ways of dividing the wo...
1115,110,Cybercrime expert Mikko Hypponen talks us thro...,563,TEDxBrussels,2011-11-17,36,Mikko Hypponen,Mikko Hypponen: Three types of online attack,1,2012-01-18 14:54:24,...,0,0,2012,1,18,2,14,54,24,"In the 1980s, in communist Eastern Germany, if..."
1116,689,What does a bill like PIPA/SOPA mean to our sh...,839,TEDSalon NY2012,2012-01-17,41,Clay Shirky,Clay Shirky: Why SOPA is a bad idea,1,2012-01-18 17:47:31,...,0,0,2012,1,18,2,17,47,31,I'm going to start here. This is a hand-letter...
1117,110,We all want customized experiences and product...,965,TEDSalon NY2011,2011-11-09,35,Sheena Iyengar,Sheena Iyengar: How to make choosing easier,1,2012-01-19 15:46:06,...,0,0,2012,1,19,3,15,46,6,Do you know how many choices you make in a typ...
1118,195,Scott Rickard set out to engineer the ugliest ...,583,TEDxMIA,2011-09-13,0,Scott Rickard,Scott Rickard: The beautiful math behind the w...,1,2012-01-20 16:41:22,...,0,0,2012,1,20,4,16,41,22,NaN
1119,76,Algae plus salt water equals ... fuel? At TEDx...,869,TEDxNASA@SiliconValley,2011-08-17,20,Bilal Bomani,Bilal Bomani: Plant fuels that could power a jet,1,2012-01-21 14:58:26,...,0,0,2012,1,21,5,14,58,26,"What I'm going to do is, I'm going to explain ..."

In [20]:
duplicate_urls_data1 = data1[data1.duplicated(subset='url')]
duplicate_urls_data2 = data2[data2.duplicated(subset='url')]

In [21]:
duplicate_urls_data2

,transcript,url
1114,I have a question for you: Are you religious? ...,https://www.ted.com/talks/jonathan_haidt_human...
1115,The recent debate over copyright laws like SOP...,https://www.ted.com/talks/rob_reid_the_8_billi...
1116,I'm going to tell you a little bit about my TE...,https://www.ted.com/talks/brene_brown_listenin...

In [22]:
duplicate_urls_merged = merged_data[merged_data.duplicated(subset='url')]

In [23]:
duplicate_urls_merged

,comments,description,duration,event,film_date,languages,main_speaker,name,num_speaker,published_date,...,film_date.minute,film_date.second,published_date.year,published_date.month,published_date.day_of_month,published_date.day_of_week,published_date.hour,published_date.minute,published_date.second,transcript
1176,497,"Psychologist Jonathan Haidt asks a simple, but...",1096,TED2012,2012-02-29,31,Jonathan Haidt,"Jonathan Haidt: Religion, evolution, and the e...",1,2012-03-14 15:04:35,...,0,0,2012,3,14,2,15,4,35,I have a question for you: Are you religious? ...
1178,241,Comic author Rob Reid unveils Copyright Math (...,311,TED2012,2012-03-01,44,Rob Reid,Rob Reid: The $8 billion iPod,1,2012-03-15 15:09:52,...,0,0,2012,3,15,3,15,9,52,The recent debate over copyright laws like SOP...
1180,707,"Shame is an unspoken epidemic, the secret behi...",1238,TED2012,2012-03-02,38,Brené Brown,Brené Brown: Listening to shame,1,2012-03-16 15:16:54,...,0,0,2012,3,16,4,15,16,54,I'm going to tell you a little bit about my TE...

In [25]:
merged_data.drop_duplicates(inplace =True)

In [26]:
merged_data.columns

Index(['comments', 'description', 'duration', 'event', 'film_date',
       'languages', 'main_speaker', 'name', 'num_speaker', 'published_date',
       'ratings', 'related_talks', 'speaker_occupation', 'tags', 'title',
       'url', 'views', 'film_date.year', 'film_date.month',
       'film_date.day_of_month', 'film_date.day_of_week', 'film_date.hour',
       'film_date.minute', 'film_date.second', 'published_date.year',
       'published_date.month', 'published_date.day_of_month',
       'published_date.day_of_week', 'published_date.hour',
       'published_date.minute', 'published_date.second', 'transcript'],
      dtype='object')

In [27]:
merged_data.to_csv("TED_data.csv")

In [28]:
merged_data.dtypes

comments                                int64
description                            object
duration                                int64
event                                  object
film_date                      datetime64[ns]
languages                               int64
main_speaker                           object
name                                   object
num_speaker                             int64
published_date                 datetime64[ns]
ratings                                object
related_talks                          object
speaker_occupation                     object
tags                                   object
title                                  object
url                                    object
views                                   int64
film_date.year                          int64
film_date.month                         int64
film_date.day_of_month                  int64
film_date.day_of_week                   int64
film_date.hour                          int64
film_date.minute                        int64
film_date.second                        int64
published_date.year                     int64
published_date.month                    int64
published_date.day_of_month             int64
published_date.day_of_week              int64
published_date.hour                     int64
published_date.minute                   int64
published_date.second                   int64
transcript                             object
dtype: object

In [29]:
merged_data

,comments,description,duration,event,film_date,languages,main_speaker,name,num_speaker,published_date,...,film_date.minute,film_date.second,published_date.year,published_date.month,published_date.day_of_month,published_date.day_of_week,published_date.hour,published_date.minute,published_date.second,transcript
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,2006-02-25,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,1,2006-06-27 00:11:00,...,0,0,2006,6,27,1,0,11,0,Good morning. How are you?(Laughter)It's been ...
1,265,With the same humor and humanity he exuded in ...,977,TED2006,2006-02-25,43,Al Gore,Al Gore: Averting the climate crisis,1,2006-06-27 00:11:00,...,0,0,2006,6,27,1,0,11,0,"Thank you so much, Chris. And it's truly a gre..."
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,2006-02-24,26,David Pogue,David Pogue: Simplicity sells,1,2006-06-27 00:11:00,...,0,0,2006,6,27,1,0,11,0,"(Music: ""The Sound of Silence,"" Simon & Garfun..."
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,2006-02-26,35,Majora Carter,Majora Carter: Greening the ghetto,1,2006-06-27 00:11:00,...,0,0,2006,6,27,1,0,11,0,If you're here today — and I'm very happy that...
4,593,You've never seen data presented like this. Wi...,1190,TED2006,2006-02-22,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,1,2006-06-27 20:38:00,...,0,0,2006,6,27,1,20,38,0,"About 10 years ago, I took on the task to teac..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2548,17,"Between 2008 and 2016, the United States depor...",476,TED2017,2017-06-06,4,Duarte Geraldino,Duarte Geraldino: What we're missing in the de...,1,2017-09-19 20:00:16,...,0,0,2017,9,19,1,20,0,16,"So, Ma was trying to explain something to me a..."
2549,6,How can you study Mars without a spaceship? He...,290,TED2017,2017-04-24,3,Armando Azua-Bustos,Armando Azua-Bustos: The most Martian place on...,1,2017-09-20 15:02:17,...,0,0,2017,9,20,2,15,2,17,This is a picture of a sunset on Mars taken by...
2550,10,Science fiction visions of the future show us ...,651,TED2017,2017-04-24,1,Radhika Nagpal,Radhika Nagpal: What intelligent machines can ...,1,2017-09-21 15:01:35,...,0,0,2017,9,21,3,15,1,35,"In my early days as a graduate student, I went..."
2551,32,In an unmissable talk about race and politics ...,1100,TEDxMileHigh,2017-07-08,1,Theo E.J. Wilson,Theo E.J. Wilson: A black man goes undercover ...,1,2017-09-21 20:00:42,...,0,0,2017,9,21,3,20,0,42,I took a cell phone and accidentally made myse...
2552,8,With more than half of the world population li...,519,TED2017,2017-04-24,1,Karoliina Korppoo,Karoliina Korppoo: How a video game might help...,1,2017-09-22 15:00:22,...,0,0,2017,9,22,4,15,0,22,"We humans are becoming an urban species, so ci..."